@font-face {
	font-family: Andale Mono;
	font-style: normal;
	font-weight: normal;
	src: url(../includes/fontes/ANDALEMO.eot);
}
@font-face {
	font-family: Andale Mono;
	font-style: normal;
	font-weight: normal;
	src: url(../includes/fontes/ANDALEMO.ttf);
}
@font-face {
	font-family: Serpentine;
	font-style: normal;
	font-weight: normal;
	src: url(../includes/fontes/SERPENTINE.ttf);
}
@font-face {
	font-family: Serpentine;
	font-style: normal;
	font-weight: normal;
	src: url(../includes/fontes/SERPENTINE.eot);
}