body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body, #rodapeOrcamento {
	min-width: 1007px;
}

a, a:link, a:visited, a:hover, a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

a, a:link, a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover, a:active {
	color: #999999;
	text-decoration: underline;
}

.input {
	text-indent: 4px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px #AAA;
	-moz-box-shadow: inset 0 1px 1px #AAA;
	-webkit-box-shadow: inset 0 1px 1px #AAA;
	border: 1px solid #D6D6D6;
	background: white;
	padding: 3px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 18px;
}

.button {
	margin-left: 0px;
}

#menuPrincipal {
	position: fixed;
	z-index: 1;
}

.menuPrincipalEmail,
#menuPrincipal,
#rodape {
	background: url(../imagens/menuPrincipal/fundo.jpg);
	width: 100%;
	min-width: 578px;
	height: 23px;
	padding-top: 4px;
	font-family: Andale Mono;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

.menuPrincipalEmail a,
#menuPrincipal a,
#rodape  a {
	font-family: Andale Mono;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.menuPrincipalEmail a:hover,
#menuPrincipal a:hover,
#rodape  a:hover {
	font-family: Andale Mono;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
}

#cabecalho {
	position: relative;
	top: 27px;
	height: 202px;
}

#menuEsquerdo ul .fundo1 div {
	background: url(../imagens/menuEsquerdo/fundo1.gif);
}

#menuEsquerdo ul .fundo1:hover div {
	background: url(../imagens/menuEsquerdo/fundoHover1.gif);
}

#menuEsquerdo ul .fundo2 div {
	background: url(../imagens/menuEsquerdo/fundo2.gif);
}

#menuEsquerdo ul .fundo2:hover div {
	background: url(../imagens/menuEsquerdo/fundoHover2.gif);
}

#menuEsquerdo ul .fundo3 div {
	background: url(../imagens/menuEsquerdo/fundo3.gif);
}

#menuEsquerdo ul .fundo3:hover div {
	background: url(../imagens/menuEsquerdo/fundoHover3.gif);
}

#menuEsquerdo {
	width: 150px;
}

#menuEsquerdo #bordaLateral {
	float: right;
	width: 6px; 
}

#menuEsquerdo #bordaFinal {
	margin-top: -7px;
	padding: 0px;
	height: 6px;
	width: 142px;
}

.menuEsquerdo {
	margin: 0;
	padding: 2px 0 0 2px;
	list-style: none;
	color: white;
}

.menuEsquerdo li {
	width: 142px;
	height: 22px;
	border-top: 1pt #999999 solid;
	text-decoration: none;
}

.menuEsquerdo li:hover {
	text-decoration: underline;
}

.menuEsquerdo li .handle {
	height: 23px;
	width: 100%;
}

.menuEsquerdo li a {
	color: white;
	font-family: Andale Mono;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 5px;
}

#conteudo {
	padding: 2px 2px 2px 4px;
}

#boxBusca {
	font-weight: bold;
}

#boxBusca td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}

#boxBusca #aviso {
	text-align: center;
}

#boxBusca #consultaProdutos {
	margin-left: 1px;
	margin-right: 2px;
	width: 50%;
	height: 23px;
	background: url(../imagens/conteudo/pesquisar.png) no-repeat 2px 1px;
	line-height: 20px;
	font-size: 16px;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	box-shadow: inset 0 1px 2px #DDD;
	border: 1px solid #969696;
	padding: 0 85px 0 32px;
	display: inline-block;
}

#boxBusca #consultaProdutos:focus {
	background-color: #F0F0F0;
	border: 1px solid #876200;
	outline: 0;
}

#boxBusca #buscarProdutos {
	position: absolute;
	margin-top: 0px;
	margin-left: -82px;
	cursor: pointer;
	background: url(../imagens/conteudo/fundoBotao.png) repeat-x;
	border-radius: 0 6px 4px 0; -webkit-border-radius: 0 6px 4px 0; -moz-border-radius: 0 6px 4px 0;
	border: 0;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 21.9px;
	padding: 2px 9px 1px 10px;
	display: inline-block;
}

#boxBusca #buscarProdutos:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#boxBusca #botaoOrcamento {
	margin-top: -2px;
	float: right;
	width: 40px;
	cursor: pointer;
}

#boxBusca #botaoOrcamento:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.barraNavegacao {
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #999999;
}

.titulo {
	background: url(../imagens/menuPrincipal/fundo.jpg);
	color: white;
	text-transform: uppercase;
	padding: 5px;
	font-weight: bold;
	font-size: 13px;
}

.conteudoPagina {
	background: #F3F3F3;
	padding: 5px;
	padding-bottom: 25px;
	min-height: 60px;
	text-align: justify;
	font-size: 13px;
}

.conteudoPagina .textoPequeno {
	font-size: 9px;
}

.conteudoPagina .textoAzul {
	color: blue;
}

.conteudoPagina .textoDestaque {
	color: red;
	font-weight: bold;
}

.conteudoPagina .link {
	cursor: pointer;
}

.conteudoPagina .link:hover {
	text-decoration: underline;
}

#submenu {
	font-family: Andale Mono;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

#submenu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#submenu ul li {
	float: left;
	height: 21px;
	background: url(../imagens/submenu/fundo.gif);
}

#submenu ul li div a{
	background: url(../imagens/submenu/fundo.gif);
	height: 10px;
	padding: 5px;
	font-family: Andale Mono;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

#submenu ul li:not(:first-child) div {
	border-left: 1px solid grey;
}

#submenu ul li div a:hover {
	background: url(../imagens/submenu/fundo1.gif);
	text-decoration: underline;
}

#sombra {
	clear: both;
	background: url(../imagens/submenu/sombra.gif);
	height: 6px;
	width: 100%;
}

.assistenciaTecnica {
	text-align: justify;
	font-size: 13px;
	padding: 5px;
	padding-left: 30px;
	padding-bottom: 25px;
	background: #F3F3F3;
}

#faleConosco select {
	width: 504px;
	margin-left: 2px;
	height: 26px;
}

#faleConosco textarea {
	height: 100px;
	max-height: 200px;
	resize: vertical;
}

#faleConosco #localizarCep,
#faleConosco #localizarCepCarregando {
	position: relative;
	top: 5px;
	margin-left: -28px;
	cursor: pointer;
}

#faleConosco #localizarCepCarregando {
	top: 2px;
	cursor: progress;
}

#faleConosco #enviarOrcamentoIndisponivel,
#faleConosco #enviarOrcamentoDisponivel {
	display: none;
}

#faleConosco .mensagemErro {
	color: red;
	font-weight: bold;
}

#mensagemEnviada {
	display: none;
	font-weight: bold;
}

.textoPequeno,
.pequeno,
.peq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}

.publicidade {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
	font-weight: normal;
}

.peq_riscado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: line-through;
}

.peqbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}

.peqred {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
	font-weight: normal;
}

.peqredbol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF0000;
}

.peqcxa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

.preco_categoria {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

.preco_antigo_categoria {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: line-through;
}

#popup {
	background-color: #FFFFFF;
}

.imagemProduto {
	margin-top: 25px;
}

.imagemProduto img {
	cursor: pointer;
}

.textoRodape {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
}
